.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}
.lbl-delay {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: start;
}
.inp-delay {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
}

.inp-delay:hover {
  border: 1px solid #000;
}

.inp-delay:active {
  border: 1px solid #4e75ff;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
  justify-content: center;
  box-sizing: border-box;
}

fieldset:hover {
  border: 1px solid #000;
}

legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: start;
}

.lbl-radio {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.btn-snackbar {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.btn-snackbar:hover {
  background-color: #6c8cff;
}
